<div class="listContainer ">
  <div class="row bottomBorder">

    <div class="col" *ngFor="let prop of propeties;let i = index">
      <p *ngIf="i === 0">
        {{prop}}
      </p>
      <p class="leftBorder" *ngIf="i > 0">
        {{prop}}
      </p>
    </div>

  </div>
  <div *ngIf="!isWebsite(listElements)" class="contentContainer">
    <div  class="row" *ngFor="let item of listElements" >

      <div class="col">
        <p>
          {{item.name}}
        </p>
      </div>
      <div class="col centerContent">
        <div>
          <app-point-toggle [(toggle)]="item.tracking" (toggleChange)=" programChanged(item)"[program]="item"></app-point-toggle>
        </div>
      </div>
      <div class="col centerContent">
        <div>
          <app-point-toggle [(toggle)]="item.blocked" (toggleChange)="programChanged(item)" [program]="item"></app-point-toggle>
        </div>

        <img (click)="deleteListElement(item)" src="../../../assets/icons/XIcon.png" alt="">

      </div>


    </div>
  </div>
  <div *ngIf="isWebsite(listElements)" class="contentContainer">
    <div  class="row" *ngFor="let item of listElements" >

      <div class="col">
        <p>
          {{item.name}}
        </p>
      </div>

      <div class="col centerContent">
        <div>
          <app-point-toggle [(toggle)]="item.blocked" (toggleChange)="websiteChanged(item)" [program]="item"></app-point-toggle>
        </div>

        <img (click)="deleteListElement(item)" src="../../../assets/icons/XIcon.png" alt="">

      </div>


    </div>
  </div>
</div>
