<div class="container-fluid">
  <div class="row">
    <div class="col nav">
      <app-burger-menu></app-burger-menu>
    </div>
  </div>
  <div class="row fullHeight">
    <div class="col settingsContainer">
      <form #form="ngForm" (ngSubmit)="submit(form.value)"  >
        <h2>Hours per day</h2>
        <app-slider name="hourSlider" [sliderMin]=MinHoursPerDay
         [sliderMax]=MaxHoursPerDay [sliderValue]=sharedVariables.getTodayTimeMax()
         [ngModel]="sharedVariables.getTodayTimeMax()" (ngModelChange)="setMaxTime($event)"
          (ngModelChange)="database.persistUserSettings()"> </app-slider>
        <hr>

        <h2 >Notification</h2>
        <app-toggle name="notificationToggle"
        [toggle]=sharedVariables.getNotificationOn()
        [ngModel]="sharedVariables.getNotificationOn()" (ngModelChange)="sharedVariables.setNotificationOn($event)"
        (ngModelChange)="database.persistUserSettings()">
        </app-toggle>
        <hr>

        <h2>Reset Todays Time</h2>
        <app-toggle name="resetTimeToggle"
        [toggle]="false"
        [ngModel]="false" (ngModelChange)="resetTime($event)">
        </app-toggle>

      </form>
    </div>
  </div>
</div>
