<div class="container-fluid">
  <div class="row">
    <div class="col nav">
      <img (click)=toggleNavigator() class="settingsNav"
      src="../../../assets/images/nav.png" alt="">
      <h1 class="heading">SETTINGS</h1>
    </div>
  </div>
  <div class="row fullHeight">
    <div class="col settingsContainer">
      <form #form="ngForm" (ngSubmit)="submit(form.value)" (change)=sharedVariables.writeTimeSettings()>
        <h2>Hours per day</h2>
        <app-slider name="hourSlider" [sliderMin]=MinHoursPerDay
         [sliderMax]=MaxHoursPerDay [sliderValue]=sharedVariables.getTimeSettings().hoursPerDay
         [(ngModel)]=sharedVariables.getTimeSettings().hoursPerDay > </app-slider>
        <hr>

        <h2>Hours per Week</h2>
        <app-slider name="weekSlider" [sliderMin]=MinHoursPerWeek
        [sliderMax]=MaxHoursPerWeek [sliderValue]=sharedVariables.getTimeSettings().hoursPerWeek
        [(ngModel)]=sharedVariables.getTimeSettings().hoursPerWeek > </app-slider>
        <hr>

        <h2 >Notification</h2>
        <app-toggle (click)=sharedVariables.writeTimeSettings() name="notificationToggle"
        [toggle]=sharedVariables.getTimeSettings().notificationsOn
        [(ngModel)]=sharedVariables.getTimeSettings().notificationsOn></app-toggle>
        <hr>

        <h2>Lock PC</h2>
        <app-toggle (click)=sharedVariables.writeTimeSettings() name="lockPCOnToggle"
        [toggle]=sharedVariables.getTimeSettings().lockPCOn
        [(ngModel)]=sharedVariables.getTimeSettings().lockPCOn></app-toggle>
      </form>
    </div>
  </div>
</div>
