.sliderContainer
{
  width:300px;
  height:20px;
  position: relative;
}

.slider
{
  position: absolute;
  top:50%;
  transform: translate(0,-50%);
  -webkit-appearance:none;
  appearance:none;
  width:100%;
  height:8px;
  background:rgba(224, 224, 224,0);
  outline: none;
  border-radius: 20px;
  z-index: 1;
}

.slider::-webkit-slider-thumb
{
  -webkit-appearance: none;
  appearance: none;
  width:20px;
  height:20px;
  border-radius: 50%;
  background: rgba(40, 203, 194,1);
  cursor:pointer;
  transition: width 0.09s, height 0.09s, background 0.09s;
}

.slider::-webkit-slider-thumb:active
{
  width:24px;
  height:24px;
  background: rgba(40, 217, 207, 1);
}

.sliderFill
{
  position: absolute;
  top:50%;
  transform: translate(0,-50%);
  height:8px;
  background: linear-gradient(to right, rgb(40, 203, 194) , rgb(82, 226, 153));
  border-radius: 20px;
  pointer-events: none;
  z-index: 0;
}

.sliderBase
{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  height:8px;
  width: 100%;
  background: rgb(224, 224, 224);
  border-radius: 20px;
}

.sliderBox
{
  position: absolute;
  top:50%;
  left:315px;
  transform: translate(0,-50%);
  height:30px;
  width:70px;
  border: 1.7px solid rgb(218, 218, 218);
  border-radius:5px;
  display: inline-block;
}

.sliderBoxText
{
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 16pt;
  color:rgb(212, 208, 208);
  font-family: oswaldLight;
}
