<div class="container-fluid programsContainer">

<div class="row header">
  <div class="verticalCentered">
    <app-burger-menu></app-burger-menu>

  </div>
  <h1>
      Lock Programs
</h1>
</div>
<div class="row buttons">
  <div class="col buttonContainer">
    <p>Track all Programs</p>
    <app-toggle [(toggle)]="programService.trackAll"  [ngModel]="programService.trackAll" (ngModelChange)="programService.toggleTrackAll(programService.trackAll)"></app-toggle>
  </div>
  <div class="col buttonContainer">
      <p>Block all Programs</p>
      <app-toggle [toggle]="programService.blockAll" [ngModel]="programService.blockAll" (ngModelChange)="programService.toggleBlockAll(programService.blockAll)"></app-toggle>
  </div>
  <div class="col buttonContainer">
      <p>add Program</p>
      <div class="btn" (click)="programService.addProgram()">
        <p>
        ADD
        </p>
      </div>
  </div>
  <div class="col-2">

  </div>
</div>
<div class="row">
  <div class="col">
    <div *ngFor="let p of programService.programs">
      {{ p | json}}
    </div>
    <app-list [listElements]="programService.programs"></app-list>
    </div>
</div>
<!--<div class="listContainer">

</div>!-->
</div>
