h1
{
  font-family: oswaldRegular;
  font-size: 24pt;
  color:rgb(255, 255, 255);
  line-height: 60px;
  position: absolute;
  top:0px;
  left: 15px;
}

h2
{
  font-family: oswaldRegular;
  font-size: 20pt;
  color: rgb(91, 91, 91);
  display: inline-block;
}

.navContainer
{
  left:-260px;
  top:0px;
  position: absolute;
  width:260px;
  height:100%;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.navHeader
{
  position: relative;
  width:100%;
  height:80px;
  background-color: rgb(40, 203, 194);

  h2
  {
    font-family: oswaldLight;
    font-size:16pt;
    color:rgb(255, 255, 255);
    position: absolute;
    left:15px;
    top:45px;
  }
}

.navBody
{
  position: relative;
  width:100%;
  height:100%;
}
.navBackground
{
  left:0px;
  top:0px;
  position: absolute;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 99;

}

.navLink
{
  padding: 10px 15px 0px 15px;
  width:100%;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.1s;
}

.navLink:hover
{
  background-color: rgb(240, 240, 240);
}

.iconContainer
{

  width:35px;
  height:35px;
  border-radius: 50%;
  //border: 1.25px solid rgb(215, 215, 215);
  position: absolute;
  top:50%;
  transform:translate(0,-50%);
  right:15px;
  display: inline-block;

}

.icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  filter: invert(35.7%);
}

#selected
{
  background-color: rgb(26, 190, 188);
  color:rgb(255, 255, 255);
  .icon{

    filter: invert(100);

  }
}
