.roundedCont{
  position: relative;
  width: 45%;
  display:inline-block;
  height: 68px;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.29);
  user-select: none;
  cursor:default;

}
h2{
  position: absolute;
  font-family: oswaldLight;
  font-size: 17.14pt;
  left: 50%;
  top: 10px;
  transform: translate(-50%,0%);
}
