/* You can add global styles to this file, and also import other style files */


//TODO Main CSS auf SASS funktionalität umschreiben mit Variablen und co.
@font-face {
  font-family:'oswaldRegular';
  src: url('./assets/fonts/oswald/Oswald-Regular.ttf');
}
@font-face {
  font-family:'oswaldLight';
  src: url('./assets/fonts/oswald/Oswald-Light.ttf');
}
@font-face {
  font-family:'oswaldHeavy';
  src: url('./assets/fonts/oswald/Oswald-Heavy.ttf');
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body
{
  //background-color: rgb(242, 242, 242);
  background-color: rgb(255, 255, 255);
}

.box
{
  border-radius: 5px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);

}

.boxFlat
{
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
}

.baseColor
{
  background-color: rgb(255, 255, 255);


}

.accentColor
{
  background-color: rgb(40, 203, 190);
}

.baseDarkColor
{
  background-color:rgb(242, 242, 242);


}
